    <!-- Header -->
    <header>
        <div class="header">
            <div class="logo">Newzbuddy</div>
            <div class="search-bell" data-page="search">
                <a href="/search" style="color: white;"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/notifications"><button class="bell" data-page="notifications" style="font-size: larger;"><i class="fa-regular fa-bell"></i></button></a>
                <!-- <button class="nav-item" class="nav-item active" id="community" data-id="communities" data-page="communities" %>><i class="fa-solid fa-users"></i></button> -->

            </div>
        </div>