<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Pop-up</title>
    <link rel="stylesheet" href="/stylesheets/addyours.css">
</head>
<body>
    <!-- Footer with the "+" button -->
    <footer>
        <button id="uploadBtn" class="plus-btn">+</button>
    </footer>

    <!-- Pop-up modal -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <div class="upload-options">
                <div class="upload-option">
                    <img src="/images/video-icon.png" alt="Video Icon">
                    <p>Upload a video</p>
                </div>
                <div class="upload-option">
                    <img src="/images/flicks-icon.png" alt="Flicks Icon">
                    <p>Upload flicks</p>
                </div>
                <div class="upload-option">
                    <img src="/images/live-icon.png" alt="Live Icon">
                    <p>Go live</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/addyours.js"></script>
</body>
</html>
